body { font-family: arial ,tahoma ;}

table {
    width:700px;
    margin: 20px auto;
    text-align: center;
    
}
caption{
  padding: 20px;
  font-weight:bold
}

thead {
    background-color: #404040;
    color:white;
    
}

thead  td{
  
    padding: 10px;
}

tbody td {
    background-color: #EEEEEE;
}

tbody td img {
    height: 80px;
    border: 2px solid white;
}

tbody td button {
    background-color: #009dff;
    color:white;
    border: none;
    padding: 5px 10px;
    font-weight:bold;
}

tbody td .bink  {
    background-color: #E91E63;
}
